/* Estilos generales */
a[href]{
    text-decoration: none;
}
a[href]:hover{
    text-decoration: underline;
}
a[href="#Paramore"]{
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
}
img{
    width: 200px;
    transition: width 2s;
    border-radius: 5px;
    border-style: solid;
}
img:hover{
    width: 400px;
}
/* Fin estilos generales */
body{
    color: rgb(250,250,250);
    background-color: rgb(175,175,175);
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-style: solid;
    border-color: gold;
    border-width: 5px;
    border-radius: 5px;
    margin: 0%;
    padding: 0%;
}
/* Estilización del header de la página */
header{
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    color:gold;
    border-style: none none solid none;
    padding: 0px;
    margin-right: 0%;
    background-color: rgb(22, 22, 22);
}
    header h1{
        font-family: "Imperial Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
    }
    nav{
        width: 100%;
    }
    nav ul{
            display: flex;
            flex-direction: row;
            gap: 15%;
            padding: none;
    }
        ul{
            list-style: none;
            background-color: rgb(22,22,22);
            border-style: solid solid none solid;
            border-color: gold;
            margin: 0px;
        }
            ul li{
                position: relative;
            }
                ul li a{
                    display: inline-block;
                    padding: 25px;
                    color: #FFF;
                    text-decoration: none;
                    text-align: center;
                    font-size: 25px;
                    margin: none;
                }
                    ul li a[href="#Solista"]:hover{
                        background-image: url(assets/icons/hayleyicon.png);
                        background-size: cover;
                        background-position: 0px;   
                        color: #e4d019;
                    }
                    ul li a[href="#Paramore"]:hover{
                        background-image: url(assets/icons/logoparamore.png);
                        background-size:cover;
                        background-position: 0px;
                        color: crimson;
                    }
                    ul li a[href="#Sello"]:hover{
                        background-image: url(assets/icons/Post_Atlantic.jpg);
                        background-size:cover;
                        background-position: 0px;
                        color: transparent;
                    }
                    ul li a[href="#GDY"]:hover{
                        background-image: url(assets/icons/GDYlogo.png);
                        background-size: contain;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        color: transparent;
                    }
                ul li ul.menusolista{
                    position: absolute;
                    display: none;
                    border-style: solid;
                    border-radius: 5px;
                    margin: 0px;
                    padding: 0px;
                }
                    ul li ul.menusolista li{
                        display: block;
                        background-color: goldenrod;
                    }
                    ul li ul.menusolista li:hover{
                        background-color: #886f00;
                        transform: scale(1.03);
                    }
            ul li:hover ul.menusolista{
                display:inline-block;
                width: 200%;
                text-align: center;
                left: 0%;
                top: 100%;
                z-index: 999;
            }
/* Fin sección de estilización del header */
/* Estilos para main */
main{
    background-color: rgb(22, 22, 22);
    padding: 25px;
    margin: 0px;
    h2{
        font-size: 50px;
    }
}
/* Fin estilos main */
/* Estilos sección presentación */
#presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 0px 0px 25px 0px;
    border-radius: 5px;
    border: 2.5px solid;
    figure{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
#presentacion:hover{
    box-shadow: rgb(252,152,22) 5px 5px 5px;
}
    #presentacion figure figcaption{
        width: 150px;
        padding-left: 20px ;
    }
/* Fin estilos presentación */
/* Estilos sección Paramore */
#Paramore{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 2.5px solid rgb(255,255,255);
    border-radius: 5px;
    padding: 0px 25px 25px 25px;
    h2{
        font-family: "Rubik Dirt", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: xx-large;
        text-align: center;
    }
    h2:hover{
        text-shadow: 3px 3px crimson;
    }
}
#Paramore:hover{
    box-shadow: 5px 5px 2px red;
}
    #Paramore table, tr, th, td{
        border: 2px solid;
        border-collapse: collapse;
    }
/* Fin estilos sección Paramore */
/* Estilos sección Petals */
#petalsdrop{
    padding: 0px;
}
#petalsdrop:hover{
    background-color: rgba(213,154,159);
    border-radius: 10px;
}
    #petalsdrop:hover .petalsdwn{
        display: block;
    }
    #petalsdrop:hover .petalsup{
        display: none;
    }
    #petalsdrop:hover #Petals{
        display: block;
    }
    .petalsdwn{
        display: none;
        position: relative;
    }
    #Petals{
        position: relative;
        display: none;
        padding: 0px 25px 25px 25px;
        margin-right: 25px;
    }
/* Fin estilos Petals */
/* Estilos sección flowers */
#flowersdrop{
    margin: 0px;
    padding: 0px;
}
#flowersdrop:hover{
    background-color: rgb(71,1,32);
    border-radius: 10px;
}
    #flowersdrop:hover .flowersdwn{
        display: block;
    }
    #flowersdrop:hover .flowersup{
        display: none;
    }
    #flowersdrop:hover #Flowers{
        display:block;
    }
    .flowersdwn{
        display: none;
        position: relative;
    }
    #Flowers{
        display: none;
        position: relative;
        padding: 0px 25px 25px 25px;
        margin: 0px 25px 25px 25px;
    }
/* Fin estilos flowers */
/* Estilos Sección Ego */
#egodrop:hover{
    color: black;
    border-radius: 10px;
    background-image: url(assets/hw_desktop_wallpaper_1.png);
}
    #egodrop .egodwn{
        display: none;
        position: relative;
    }
    #egodrop:hover .egoup{
        display: none;
    }
    #egodrop:hover .egodwn{
        display: block;
    }
    #egodrop:hover #Ego{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #Ego{
        display: none;
        padding: 0px 25px 25px 25px;
        margin: 0px 25px 25px 25px;
    }
        #Ego figure{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
            #Ego figure figcaption{
                width: 150px;
            }
        #Ego table{
            background-image: linear-gradient(to right, rgb(22,22,22),rgb(102,102,102));
        }
            #Ego table, tr, th, td{
                border: 2px solid;
                border-collapse: collapse;
                color: rgb(175,175,175);
            }
/* Fin estilos Ego */
/* Media queries */
@media screen and (width<=768px){
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    ul li:hover ul.menusolista{
        display: inline-block;
        width: 75%;
        text-align: center;
        left: 12.5%;
        top: 100%;
        z-index: 999;
    }
}
/* Fin media queries */